In [ ]:
#  ipynb
list = ['mg mg' , 'aung aung','aung aung' , 'kyaw kyaw', 30,20]
# append()
# insert()
# pop()  #index delete
# remove()   #name
# clear()
# del 
# pyaethuaung.leo@gmail.com
# akerimyintzaw22@gmail.com
del list

print(list)

In [ ]:
list = ['mg mg' , 'aung aung','aung aung' , 'kyaw kyaw', 30,20]

for i in list:
    if i == 'aung aung':
        list.remove('aung aung')
        print(list)

## Day 3

In [ ]:
# list  , set, tuple, dictionary

dict = {
    'key': 'value',
    'name': 'mg mg',
    'phone': 98654
    }

graph = {
    'name': ['mg mg', 'aung aung'],
    'phone': [98654, 12345],
    'address': ['yangon', 'mandalay']
    }




dict.update({'name': 'yangon'})

print(dict.values())
print(dict.keys())
print(dict.items())

In [ ]:
# Pandas 
# pip install pandas

In [ ]:
a = [1,2,3,4,5]
# Series , DataFrame
import pandas
s = pandas.Series(a)
print(s)

In [ ]:
graph = {
    'name': ['mg mg', 'aung aung'],
    'phone': [2486, 12345],
    'address': ['yangon', 'mandalay']
    }

df = pandas.DataFrame(graph) #row , col

print(df)

print('------------------------')
df.iloc[0,0]

In [1]:
import pandas
excel = pandas.read_excel("file2.xlsx")
excel

             Name Address   Phone   Age
0           mg mg     ygn   23232  12.0
1      Aung Aung      mdy  232425  12.0
2           ma ma     npt  232426  25.0
3         hla hla     bgo  232427  25.0
4       kyaw kyaw      sg  232428  42.0
5         aye aye     NaN  232429  25.0
6        mya mya      kia  232430  25.0
7       chan chan      ky  232431   2.0
8           ei ei     mdy  232432   NaN
9         zaw zaw     mwd  232433  25.0
10        myo myo     mdy  232434  65.0
11  khaing khaing     ygn  232435  25.0
12        kyi kyi      sg  232436   8.0